article {
    display: flex;
    width:30vw;
    flex-direction: column;
    border:1px solid;
}
div { 
    display: flex;
    width:auto;
    flex-direction: row;
    border:1px solid;    
    padding:2px;
}
div > span {    
    display: flex;
    font-weight: 600;
    width: 15vw;
}