div {
    display: flex;
    width:auto;
    flex-direction: row;
    border:1px solid; 
    padding: 2px;   
}
div > span {    
    font-weight: 400;
    width: 15vw;
}

.deleteAction {
    cursor: pointer;
}