<div class="product searchPanel">
    <h3> Search Products</h3>
    <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <p> 
    <span> Category </span> 
    <span> 
        <select  [(ngModel)]="model.catName" name="catName" #catName="ngModel">
        <option value=""> Select All</option>
        <option *ngFor="let category of categoryList$" [value]="category.catName"> {{category.catName}}</option>
        </select>
    </span>
    <span> For </span> 
    <span> 
        <select [(ngModel)]="model.groupName" name="groupName" #groupName="ngModel">
        <option value=""> Select All</option>
        <option *ngFor="let group of groupsList$" [value]="group.groupName"> {{group.groupName}}</option>
        </select>
    </span>
    <span> <button type="submit"> Search </button> </span>
</p>
</form>
</div>
