<app-header></app-header>
<div id="wrapper" class="product searchPanel">
    <form (ngSubmit)="filterProducts()">
            <!-- [class.loading]="(loading$ | async)" *ngIf="!(error$ | async);" -->
        <span id="category-list" [class.loading]="(loading$ | async)" *ngIf="!(error$ | async);">        

                <label> Category List </label>
                <select [(ngModel)]="model.catName" name="catName">
                <option value=""> Select All</option>
                <ng-container *ngIf="(categoryList$ | async)">
                        <option *ngFor="let cat of categoryList$ | async" [value]="cat.catName">
                             {{cat.catName}}
                        </option> 
                </ng-container>                                               
                </select>


            </span>
        <span id="group-list" *ngIf="!(error$ | async);">        
              
                    <label> Group List </label>
                    <select [(ngModel)]="model.groupName" name="groupName">
                    <option value=""> Select All</option>
                    <ng-container *ngIf="(groupList$ | async)">
                        <option *ngFor="let grp of groupList$ | async" [value]="grp.groupName">
                             {{grp.groupName}}
                        </option>
                    </ng-container>
                </select>                              
            </span>
        <span> <button type="submit" name="submit"> Search </button> </span>
    </form>
    </div>    
    <app-productlist ></app-productlist>    